.bg-grey {
    background: #e0e0e0;
}

.form-box {
    background: #000;
    color: white;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255,255,255,0.2);
}.bg-grey {
    background: #e0e0e0;
}

.form-box {
    background: #000;
    color: white;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255,255,255,0.2);
}
